.recipe-main {
    display: flex;
    justify-content: center;
}
.recipe-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 80px;
    background-color: #EFEFEF;
    width: 88vw;
}
.recipe-header {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 16px;
    font-weight: bold;
}
.recipe-img {
    width: 80vw;
    height: 360px; 
    object-fit: cover;
    border-radius: 16px;
}
.section-recipe-icons{
    gap: 18px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    width: 80vw;
}
.recipe-icons-container {
    align-items: center;
    display: flex;
    gap: 8px;
    font-size: 14px;
    color: #403b3b;
}
.recipe-icons {
    width: 36px;
    height: 24px;
}
.section-recipe-serving {
    width: 80vw;
}
.person-recipe-container {
    margin-top: 48px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.person-recipe-container input {
    width: 32px;
    height: 24px;
    text-align: center;
    border: 1px solid #9b9898;
    font-size: 16px;
    font-weight: bold;
}
.plus-minus-btn {
    background: none;
    border: none;
    padding: 0;
    width: 35px;
    height: 35px;
    cursor: pointer;   
}
.plus-minus-icons {
    width: 32px;
    height: 32px;
}
.headline-ingredients {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 24px;
}
.section-ingredients {
    width: 80vw;
    margin-top: 24px;
}
.ingredients-style-one {
    background: #bdbdba61;
    border-radius: 16px;
    height: 36px;
    padding-top: 18px;
    padding-left: 24px;
    margin: 0px;
}
.ingredients-style-second {
    padding-left: 24px;
}
.section-preparation {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-top: 32px;
}
.section-nutrition {
    display: flex;
    margin-top: 12px;
    gap: 16px;
}
.number-icon {
    width: 32px;
    height: 32px;
    margin-right: 12px;
    vertical-align: middle;
}
.headline-preparation {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 32px;
}
.preparation-container {
    display: flex;
    align-items: center;
    height: 36px;
    padding-bottom: 30px;
    gap: 4px;
}
.section-author {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 48px;
    width: 80vw;
}
.profil-img {
    width: 100px;
    height: 100px;
    padding-top: 24px;
    
}
.author-container {
    display: flex;
    gap: 32px;
    font-size: 16px;
    align-items: center;
}
@media (max-width: 1150px) {
    .preparation-container {
        height: auto;
        padding-bottom: 0px;
    }
}
@media (max-width: 650px) {
    .section-nutrition {
        flex-direction: column;
        gap: 0px;
    }
}
@media (max-width: 490px) {
    .section-recipe-icons {
        flex-direction: column;
        gap: 12px;
    }
}